[Unit]
Description=uWSGI instance to serve website
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/invisible
Environment="PATH=/home/ubuntu/invisible/venv/bin"
ExecStart=/home/ubuntu/invisible/venv/bin/uwsgi --ini myproject.ini

[Install]
WantedBy=multi-user.target